WPProcinal/Connected Services/WCFPcrint/service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="comint">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="teatro" type="s:double" />
            <s:element minOccurs="1" maxOccurs="1" name="pun_ext_l" type="s:double" />
            <s:element minOccurs="1" maxOccurs="1" name="secuencia" type="s:double" />
            <s:element minOccurs="1" maxOccurs="1" name="can_entradas" type="s:double" />
            <s:element minOccurs="1" maxOccurs="1" name="tarifa" type="s:double" />
            <s:element minOccurs="0" maxOccurs="1" name="tiene_tarjeta" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="correo" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="autorizacion_visa" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="referencia" type="s:double" />
            <s:element minOccurs="1" maxOccurs="1" name="sec_papaya" type="s:double" />
            <s:element minOccurs="0" maxOccurs="1" name="monedapago" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="fecha_funcion" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="total_compra" type="s:double" />
            <s:element minOccurs="0" maxOccurs="1" name="med_pago" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="comintResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="comintResult">
              <s:complexType mixed="true">
                <s:sequence>
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="comintSoapIn">
    <wsdl:part name="parameters" element="tns:comint" />
  </wsdl:message>
  <wsdl:message name="comintSoapOut">
    <wsdl:part name="parameters" element="tns:comintResponse" />
  </wsdl:message>
  <wsdl:message name="comintHttpGetIn">
    <wsdl:part name="teatro" type="s:string" />
    <wsdl:part name="pun_ext_l" type="s:string" />
    <wsdl:part name="secuencia" type="s:string" />
    <wsdl:part name="can_entradas" type="s:string" />
    <wsdl:part name="tarifa" type="s:string" />
    <wsdl:part name="tiene_tarjeta" type="s:string" />
    <wsdl:part name="correo" type="s:string" />
    <wsdl:part name="autorizacion_visa" type="s:string" />
    <wsdl:part name="referencia" type="s:string" />
    <wsdl:part name="sec_papaya" type="s:string" />
    <wsdl:part name="monedapago" type="s:string" />
    <wsdl:part name="fecha_funcion" type="s:string" />
    <wsdl:part name="total_compra" type="s:string" />
    <wsdl:part name="med_pago" type="s:string" />
  </wsdl:message>
  <wsdl:message name="comintHttpGetOut">
    <wsdl:part name="Body" />
  </wsdl:message>
  <wsdl:message name="comintHttpPostIn">
    <wsdl:part name="teatro" type="s:string" />
    <wsdl:part name="pun_ext_l" type="s:string" />
    <wsdl:part name="secuencia" type="s:string" />
    <wsdl:part name="can_entradas" type="s:string" />
    <wsdl:part name="tarifa" type="s:string" />
    <wsdl:part name="tiene_tarjeta" type="s:string" />
    <wsdl:part name="correo" type="s:string" />
    <wsdl:part name="autorizacion_visa" type="s:string" />
    <wsdl:part name="referencia" type="s:string" />
    <wsdl:part name="sec_papaya" type="s:string" />
    <wsdl:part name="monedapago" type="s:string" />
    <wsdl:part name="fecha_funcion" type="s:string" />
    <wsdl:part name="total_compra" type="s:string" />
    <wsdl:part name="med_pago" type="s:string" />
  </wsdl:message>
  <wsdl:message name="comintHttpPostOut">
    <wsdl:part name="Body" />
  </wsdl:message>
  <wsdl:portType name="compraSoap">
    <wsdl:operation name="comint">
      <wsdl:input message="tns:comintSoapIn" />
      <wsdl:output message="tns:comintSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="compraHttpGet">
    <wsdl:operation name="comint">
      <wsdl:input message="tns:comintHttpGetIn" />
      <wsdl:output message="tns:comintHttpGetOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="compraHttpPost">
    <wsdl:operation name="comint">
      <wsdl:input message="tns:comintHttpPostIn" />
      <wsdl:output message="tns:comintHttpPostOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="compraSoap" type="tns:compraSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="comint">
      <soap:operation soapAction="http://tempuri.org/comint" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="compraSoap12" type="tns:compraSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="comint">
      <soap12:operation soapAction="http://tempuri.org/comint" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="compraHttpGet" type="tns:compraHttpGet">
    <http:binding verb="GET" />
    <wsdl:operation name="comint">
      <http:operation location="/comint" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:content part="Body" type="text/xml" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="compraHttpPost" type="tns:compraHttpPost">
    <http:binding verb="POST" />
    <wsdl:operation name="comint">
      <http:operation location="/comint" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:content part="Body" type="text/xml" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="compra">
    <wsdl:port name="compraSoap" binding="tns:compraSoap">
      <soap:address location="http://190.248.130.234/scoreservices/pcrint1/service.asmx" />
    </wsdl:port>
    <wsdl:port name="compraSoap12" binding="tns:compraSoap12">
      <soap12:address location="http://190.248.130.234/scoreservices/pcrint1/service.asmx" />
    </wsdl:port>
    <wsdl:port name="compraHttpGet" binding="tns:compraHttpGet">
      <http:address location="http://190.248.130.234/scoreservices/pcrint1/service.asmx" />
    </wsdl:port>
    <wsdl:port name="compraHttpPost" binding="tns:compraHttpPost">
      <http:address location="http://190.248.130.234/scoreservices/pcrint1/service.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>