WPProcinal/Connected Services/WCFPayPad/ServicePayPad.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="ServicePayPad" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://200.122.221.209/ServicePayPad.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://200.122.221.209/ServicePayPad.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://200.122.221.209/ServicePayPad.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/WCFPayPad" />
      <xsd:import schemaLocation="http://200.122.221.209/ServicePayPad.svc?xsd=xsd3" />
      <xsd:import schemaLocation="http://200.122.221.209/ServicePayPad.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/WCFPayPad.Clases" />
      <xsd:import schemaLocation="http://200.122.221.209/ServicePayPad.svc?xsd=xsd5" namespace="http://schemas.datacontract.org/2004/07/WCFPayPad.EntityModels" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IServicePayPad_InsertarTransaccion_InputMessage">
    <wsdl:part name="parameters" element="tns:InsertarTransaccion" />
  </wsdl:message>
  <wsdl:message name="IServicePayPad_InsertarTransaccion_OutputMessage">
    <wsdl:part name="parameters" element="tns:InsertarTransaccionResponse" />
  </wsdl:message>
  <wsdl:message name="IServicePayPad_InsertarTransaccionData_InputMessage">
    <wsdl:part name="parameters" element="tns:InsertarTransaccionData" />
  </wsdl:message>
  <wsdl:message name="IServicePayPad_InsertarTransaccionData_OutputMessage">
    <wsdl:part name="parameters" element="tns:InsertarTransaccionDataResponse" />
  </wsdl:message>
  <wsdl:message name="IServicePayPad_InsertarAuditoria_InputMessage">
    <wsdl:part name="parameters" element="tns:InsertarAuditoria" />
  </wsdl:message>
  <wsdl:message name="IServicePayPad_InsertarAuditoria_OutputMessage">
    <wsdl:part name="parameters" element="tns:InsertarAuditoriaResponse" />
  </wsdl:message>
  <wsdl:message name="IServicePayPad_ConsultaEstadoFactura_InputMessage">
    <wsdl:part name="parameters" element="tns:ConsultaEstadoFactura" />
  </wsdl:message>
  <wsdl:message name="IServicePayPad_ConsultaEstadoFactura_OutputMessage">
    <wsdl:part name="parameters" element="tns:ConsultaEstadoFacturaResponse" />
  </wsdl:message>
  <wsdl:message name="IServicePayPad_ActualizarEstadoTransaccion_InputMessage">
    <wsdl:part name="parameters" element="tns:ActualizarEstadoTransaccion" />
  </wsdl:message>
  <wsdl:message name="IServicePayPad_ActualizarEstadoTransaccion_OutputMessage">
    <wsdl:part name="parameters" element="tns:ActualizarEstadoTransaccionResponse" />
  </wsdl:message>
  <wsdl:message name="IServicePayPad_InsertException_InputMessage">
    <wsdl:part name="parameters" element="tns:InsertException" />
  </wsdl:message>
  <wsdl:message name="IServicePayPad_InsertException_OutputMessage">
    <wsdl:part name="parameters" element="tns:InsertExceptionResponse" />
  </wsdl:message>
  <wsdl:message name="IServicePayPad_InsertarDetalleTransaccion_InputMessage">
    <wsdl:part name="parameters" element="tns:InsertarDetalleTransaccion" />
  </wsdl:message>
  <wsdl:message name="IServicePayPad_InsertarDetalleTransaccion_OutputMessage">
    <wsdl:part name="parameters" element="tns:InsertarDetalleTransaccionResponse" />
  </wsdl:message>
  <wsdl:message name="IServicePayPad_InsertarAlerta_InputMessage">
    <wsdl:part name="parameters" element="tns:InsertarAlerta" />
  </wsdl:message>
  <wsdl:message name="IServicePayPad_InsertarAlerta_OutputMessage">
    <wsdl:part name="parameters" element="tns:InsertarAlertaResponse" />
  </wsdl:message>
  <wsdl:message name="IServicePayPad_EnviarCorreo_InputMessage">
    <wsdl:part name="parameters" element="tns:EnviarCorreo" />
  </wsdl:message>
  <wsdl:message name="IServicePayPad_EnviarCorreo_OutputMessage">
    <wsdl:part name="parameters" element="tns:EnviarCorreoResponse" />
  </wsdl:message>
  <wsdl:message name="IServicePayPad_EnviarCorreoV2_InputMessage">
    <wsdl:part name="parameters" element="tns:EnviarCorreoV2" />
  </wsdl:message>
  <wsdl:message name="IServicePayPad_EnviarCorreoV2_OutputMessage">
    <wsdl:part name="parameters" element="tns:EnviarCorreoV2Response" />
  </wsdl:message>
  <wsdl:message name="IServicePayPad_InsertarControlBillete_InputMessage">
    <wsdl:part name="parameters" element="tns:InsertarControlBillete" />
  </wsdl:message>
  <wsdl:message name="IServicePayPad_InsertarControlBillete_OutputMessage">
    <wsdl:part name="parameters" element="tns:InsertarControlBilleteResponse" />
  </wsdl:message>
  <wsdl:message name="IServicePayPad_InsertarControlMonedas_InputMessage">
    <wsdl:part name="parameters" element="tns:InsertarControlMonedas" />
  </wsdl:message>
  <wsdl:message name="IServicePayPad_InsertarControlMonedas_OutputMessage">
    <wsdl:part name="parameters" element="tns:InsertarControlMonedasResponse" />
  </wsdl:message>
  <wsdl:message name="IServicePayPad_InsertarControlDispenser_InputMessage">
    <wsdl:part name="parameters" element="tns:InsertarControlDispenser" />
  </wsdl:message>
  <wsdl:message name="IServicePayPad_InsertarControlDispenser_OutputMessage">
    <wsdl:part name="parameters" element="tns:InsertarControlDispenserResponse" />
  </wsdl:message>
  <wsdl:message name="IServicePayPad_OperationControlDispenser_InputMessage">
    <wsdl:part name="parameters" element="tns:OperationControlDispenser" />
  </wsdl:message>
  <wsdl:message name="IServicePayPad_OperationControlDispenser_OutputMessage">
    <wsdl:part name="parameters" element="tns:OperationControlDispenserResponse" />
  </wsdl:message>
  <wsdl:message name="IServicePayPad_ActualizacionArqueo_InputMessage">
    <wsdl:part name="parameters" element="tns:ActualizacionArqueo" />
  </wsdl:message>
  <wsdl:message name="IServicePayPad_ActualizacionArqueo_OutputMessage">
    <wsdl:part name="parameters" element="tns:ActualizacionArqueoResponse" />
  </wsdl:message>
  <wsdl:message name="IServicePayPad_ConteoBaul_InputMessage">
    <wsdl:part name="parameters" element="tns:ConteoBaul" />
  </wsdl:message>
  <wsdl:message name="IServicePayPad_ConteoBaul_OutputMessage">
    <wsdl:part name="parameters" element="tns:ConteoBaulResponse" />
  </wsdl:message>
  <wsdl:message name="IServicePayPad_InsertarControlAlarma_InputMessage">
    <wsdl:part name="parameters" element="tns:InsertarControlAlarma" />
  </wsdl:message>
  <wsdl:message name="IServicePayPad_InsertarControlAlarma_OutputMessage">
    <wsdl:part name="parameters" element="tns:InsertarControlAlarmaResponse" />
  </wsdl:message>
  <wsdl:message name="IServicePayPad_ConsultarTransaccionesUsuario_InputMessage">
    <wsdl:part name="parameters" element="tns:ConsultarTransaccionesUsuario" />
  </wsdl:message>
  <wsdl:message name="IServicePayPad_ConsultarTransaccionesUsuario_OutputMessage">
    <wsdl:part name="parameters" element="tns:ConsultarTransaccionesUsuarioResponse" />
  </wsdl:message>
  <wsdl:message name="IServicePayPad_ConsultarEstadoReferencia_InputMessage">
    <wsdl:part name="parameters" element="tns:ConsultarEstadoReferencia" />
  </wsdl:message>
  <wsdl:message name="IServicePayPad_ConsultarEstadoReferencia_OutputMessage">
    <wsdl:part name="parameters" element="tns:ConsultarEstadoReferenciaResponse" />
  </wsdl:message>
  <wsdl:message name="IServicePayPad_InsertarTransaccionDispenser_InputMessage">
    <wsdl:part name="parameters" element="tns:InsertarTransaccionDispenser" />
  </wsdl:message>
  <wsdl:message name="IServicePayPad_InsertarTransaccionDispenser_OutputMessage">
    <wsdl:part name="parameters" element="tns:InsertarTransaccionDispenserResponse" />
  </wsdl:message>
  <wsdl:message name="IServicePayPad_ActualizarTransaccionDispenser_InputMessage">
    <wsdl:part name="parameters" element="tns:ActualizarTransaccionDispenser" />
  </wsdl:message>
  <wsdl:message name="IServicePayPad_ActualizarTransaccionDispenser_OutputMessage">
    <wsdl:part name="parameters" element="tns:ActualizarTransaccionDispenserResponse" />
  </wsdl:message>
  <wsdl:message name="IServicePayPad_BilletesBaul_InputMessage">
    <wsdl:part name="parameters" element="tns:BilletesBaul" />
  </wsdl:message>
  <wsdl:message name="IServicePayPad_BilletesBaul_OutputMessage">
    <wsdl:part name="parameters" element="tns:BilletesBaulResponse" />
  </wsdl:message>
  <wsdl:message name="IServicePayPad_ReiniciarBaul_InputMessage">
    <wsdl:part name="parameters" element="tns:ReiniciarBaul" />
  </wsdl:message>
  <wsdl:message name="IServicePayPad_ReiniciarBaul_OutputMessage">
    <wsdl:part name="parameters" element="tns:ReiniciarBaulResponse" />
  </wsdl:message>
  <wsdl:message name="IServicePayPad_DatosTransaccionCM_InputMessage">
    <wsdl:part name="parameters" element="tns:DatosTransaccionCM" />
  </wsdl:message>
  <wsdl:message name="IServicePayPad_DatosTransaccionCM_OutputMessage">
    <wsdl:part name="parameters" element="tns:DatosTransaccionCMResponse" />
  </wsdl:message>
  <wsdl:message name="IServicePayPad_GetDataControlScreen_InputMessage">
    <wsdl:part name="parameters" element="tns:GetDataControlScreen" />
  </wsdl:message>
  <wsdl:message name="IServicePayPad_GetDataControlScreen_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDataControlScreenResponse" />
  </wsdl:message>
  <wsdl:message name="IServicePayPad_InsertarTransaccionCotrafa_InputMessage">
    <wsdl:part name="parameters" element="tns:InsertarTransaccionCotrafa" />
  </wsdl:message>
  <wsdl:message name="IServicePayPad_InsertarTransaccionCotrafa_OutputMessage">
    <wsdl:part name="parameters" element="tns:InsertarTransaccionCotrafaResponse" />
  </wsdl:message>
  <wsdl:message name="IServicePayPad_InsertDataProcinal_InputMessage">
    <wsdl:part name="parameters" element="tns:InsertDataProcinal" />
  </wsdl:message>
  <wsdl:message name="IServicePayPad_InsertDataProcinal_OutputMessage">
    <wsdl:part name="parameters" element="tns:InsertDataProcinalResponse" />
  </wsdl:message>
  <wsdl:message name="IServicePayPad_GetDataReceiptProcinal_InputMessage">
    <wsdl:part name="parameters" element="tns:GetDataReceiptProcinal" />
  </wsdl:message>
  <wsdl:message name="IServicePayPad_GetDataReceiptProcinal_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDataReceiptProcinalResponse" />
  </wsdl:message>
  <wsdl:message name="IServicePayPad_GetBaul_InputMessage">
    <wsdl:part name="parameters" element="tns:GetBaul" />
  </wsdl:message>
  <wsdl:message name="IServicePayPad_GetBaul_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetBaulResponse" />
  </wsdl:message>
  <wsdl:message name="IServicePayPad_SendMailDanone_InputMessage">
    <wsdl:part name="parameters" element="tns:SendMailDanone" />
  </wsdl:message>
  <wsdl:message name="IServicePayPad_SendMailDanone_OutputMessage">
    <wsdl:part name="parameters" element="tns:SendMailDanoneResponse" />
  </wsdl:message>
  <wsdl:message name="IServicePayPad_InsertarTransaccionPaises_InputMessage">
    <wsdl:part name="parameters" element="tns:InsertarTransaccionPaises" />
  </wsdl:message>
  <wsdl:message name="IServicePayPad_InsertarTransaccionPaises_OutputMessage">
    <wsdl:part name="parameters" element="tns:InsertarTransaccionPaisesResponse" />
  </wsdl:message>
  <wsdl:message name="IServicePayPad_ActualizarTransaccionPaises_InputMessage">
    <wsdl:part name="parameters" element="tns:ActualizarTransaccionPaises" />
  </wsdl:message>
  <wsdl:message name="IServicePayPad_ActualizarTransaccionPaises_OutputMessage">
    <wsdl:part name="parameters" element="tns:ActualizarTransaccionPaisesResponse" />
  </wsdl:message>
  <wsdl:message name="IServicePayPad_FinalizarTransaccionPaises_InputMessage">
    <wsdl:part name="parameters" element="tns:FinalizarTransaccionPaises" />
  </wsdl:message>
  <wsdl:message name="IServicePayPad_FinalizarTransaccionPaises_OutputMessage">
    <wsdl:part name="parameters" element="tns:FinalizarTransaccionPaisesResponse" />
  </wsdl:message>
  <wsdl:message name="IServicePayPad_GetTop5TransactionsByClient_InputMessage">
    <wsdl:part name="parameters" element="tns:GetTop5TransactionsByClient" />
  </wsdl:message>
  <wsdl:message name="IServicePayPad_GetTop5TransactionsByClient_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetTop5TransactionsByClientResponse" />
  </wsdl:message>
  <wsdl:message name="IServicePayPad_UpdateTransactionByID_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateTransactionByID" />
  </wsdl:message>
  <wsdl:message name="IServicePayPad_UpdateTransactionByID_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateTransactionByIDResponse" />
  </wsdl:message>
  <wsdl:message name="IServicePayPad_InsertarPagador_InputMessage">
    <wsdl:part name="parameters" element="tns:InsertarPagador" />
  </wsdl:message>
  <wsdl:message name="IServicePayPad_InsertarPagador_OutputMessage">
    <wsdl:part name="parameters" element="tns:InsertarPagadorResponse" />
  </wsdl:message>
  <wsdl:portType name="IServicePayPad">
    <wsdl:operation name="InsertarTransaccion">
      <wsdl:input wsaw:Action="http://tempuri.org/IServicePayPad/InsertarTransaccion" message="tns:IServicePayPad_InsertarTransaccion_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServicePayPad/InsertarTransaccionResponse" message="tns:IServicePayPad_InsertarTransaccion_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="InsertarTransaccionData">
      <wsdl:input wsaw:Action="http://tempuri.org/IServicePayPad/InsertarTransaccionData" message="tns:IServicePayPad_InsertarTransaccionData_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServicePayPad/InsertarTransaccionDataResponse" message="tns:IServicePayPad_InsertarTransaccionData_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="InsertarAuditoria">
      <wsdl:input wsaw:Action="http://tempuri.org/IServicePayPad/InsertarAuditoria" message="tns:IServicePayPad_InsertarAuditoria_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServicePayPad/InsertarAuditoriaResponse" message="tns:IServicePayPad_InsertarAuditoria_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ConsultaEstadoFactura">
      <wsdl:input wsaw:Action="http://tempuri.org/IServicePayPad/ConsultaEstadoFactura" message="tns:IServicePayPad_ConsultaEstadoFactura_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServicePayPad/ConsultaEstadoFacturaResponse" message="tns:IServicePayPad_ConsultaEstadoFactura_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ActualizarEstadoTransaccion">
      <wsdl:input wsaw:Action="http://tempuri.org/IServicePayPad/ActualizarEstadoTransaccion" message="tns:IServicePayPad_ActualizarEstadoTransaccion_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServicePayPad/ActualizarEstadoTransaccionResponse" message="tns:IServicePayPad_ActualizarEstadoTransaccion_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="InsertException">
      <wsdl:input wsaw:Action="http://tempuri.org/IServicePayPad/InsertException" message="tns:IServicePayPad_InsertException_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServicePayPad/InsertExceptionResponse" message="tns:IServicePayPad_InsertException_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="InsertarDetalleTransaccion">
      <wsdl:input wsaw:Action="http://tempuri.org/IServicePayPad/InsertarDetalleTransaccion" message="tns:IServicePayPad_InsertarDetalleTransaccion_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServicePayPad/InsertarDetalleTransaccionResponse" message="tns:IServicePayPad_InsertarDetalleTransaccion_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="InsertarAlerta">
      <wsdl:input wsaw:Action="http://tempuri.org/IServicePayPad/InsertarAlerta" message="tns:IServicePayPad_InsertarAlerta_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServicePayPad/InsertarAlertaResponse" message="tns:IServicePayPad_InsertarAlerta_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="EnviarCorreo">
      <wsdl:input wsaw:Action="http://tempuri.org/IServicePayPad/EnviarCorreo" message="tns:IServicePayPad_EnviarCorreo_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServicePayPad/EnviarCorreoResponse" message="tns:IServicePayPad_EnviarCorreo_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="EnviarCorreoV2">
      <wsdl:input wsaw:Action="http://tempuri.org/IServicePayPad/EnviarCorreoV2" message="tns:IServicePayPad_EnviarCorreoV2_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServicePayPad/EnviarCorreoV2Response" message="tns:IServicePayPad_EnviarCorreoV2_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="InsertarControlBillete">
      <wsdl:input wsaw:Action="http://tempuri.org/IServicePayPad/InsertarControlBillete" message="tns:IServicePayPad_InsertarControlBillete_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServicePayPad/InsertarControlBilleteResponse" message="tns:IServicePayPad_InsertarControlBillete_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="InsertarControlMonedas">
      <wsdl:input wsaw:Action="http://tempuri.org/IServicePayPad/InsertarControlMonedas" message="tns:IServicePayPad_InsertarControlMonedas_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServicePayPad/InsertarControlMonedasResponse" message="tns:IServicePayPad_InsertarControlMonedas_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="InsertarControlDispenser">
      <wsdl:input wsaw:Action="http://tempuri.org/IServicePayPad/InsertarControlDispenser" message="tns:IServicePayPad_InsertarControlDispenser_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServicePayPad/InsertarControlDispenserResponse" message="tns:IServicePayPad_InsertarControlDispenser_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="OperationControlDispenser">
      <wsdl:input wsaw:Action="http://tempuri.org/IServicePayPad/OperationControlDispenser" message="tns:IServicePayPad_OperationControlDispenser_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServicePayPad/OperationControlDispenserResponse" message="tns:IServicePayPad_OperationControlDispenser_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ActualizacionArqueo">
      <wsdl:input wsaw:Action="http://tempuri.org/IServicePayPad/ActualizacionArqueo" message="tns:IServicePayPad_ActualizacionArqueo_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServicePayPad/ActualizacionArqueoResponse" message="tns:IServicePayPad_ActualizacionArqueo_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ConteoBaul">
      <wsdl:input wsaw:Action="http://tempuri.org/IServicePayPad/ConteoBaul" message="tns:IServicePayPad_ConteoBaul_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServicePayPad/ConteoBaulResponse" message="tns:IServicePayPad_ConteoBaul_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="InsertarControlAlarma">
      <wsdl:input wsaw:Action="http://tempuri.org/IServicePayPad/InsertarControlAlarma" message="tns:IServicePayPad_InsertarControlAlarma_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServicePayPad/InsertarControlAlarmaResponse" message="tns:IServicePayPad_InsertarControlAlarma_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ConsultarTransaccionesUsuario">
      <wsdl:input wsaw:Action="http://tempuri.org/IServicePayPad/ConsultarTransaccionesUsuario" message="tns:IServicePayPad_ConsultarTransaccionesUsuario_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServicePayPad/ConsultarTransaccionesUsuarioResponse" message="tns:IServicePayPad_ConsultarTransaccionesUsuario_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ConsultarEstadoReferencia">
      <wsdl:input wsaw:Action="http://tempuri.org/IServicePayPad/ConsultarEstadoReferencia" message="tns:IServicePayPad_ConsultarEstadoReferencia_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServicePayPad/ConsultarEstadoReferenciaResponse" message="tns:IServicePayPad_ConsultarEstadoReferencia_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="InsertarTransaccionDispenser">
      <wsdl:input wsaw:Action="http://tempuri.org/IServicePayPad/InsertarTransaccionDispenser" message="tns:IServicePayPad_InsertarTransaccionDispenser_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServicePayPad/InsertarTransaccionDispenserResponse" message="tns:IServicePayPad_InsertarTransaccionDispenser_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ActualizarTransaccionDispenser">
      <wsdl:input wsaw:Action="http://tempuri.org/IServicePayPad/ActualizarTransaccionDispenser" message="tns:IServicePayPad_ActualizarTransaccionDispenser_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServicePayPad/ActualizarTransaccionDispenserResponse" message="tns:IServicePayPad_ActualizarTransaccionDispenser_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="BilletesBaul">
      <wsdl:input wsaw:Action="http://tempuri.org/IServicePayPad/BilletesBaul" message="tns:IServicePayPad_BilletesBaul_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServicePayPad/BilletesBaulResponse" message="tns:IServicePayPad_BilletesBaul_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ReiniciarBaul">
      <wsdl:input wsaw:Action="http://tempuri.org/IServicePayPad/ReiniciarBaul" message="tns:IServicePayPad_ReiniciarBaul_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServicePayPad/ReiniciarBaulResponse" message="tns:IServicePayPad_ReiniciarBaul_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DatosTransaccionCM">
      <wsdl:input wsaw:Action="http://tempuri.org/IServicePayPad/DatosTransaccionCM" message="tns:IServicePayPad_DatosTransaccionCM_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServicePayPad/DatosTransaccionCMResponse" message="tns:IServicePayPad_DatosTransaccionCM_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetDataControlScreen">
      <wsdl:input wsaw:Action="http://tempuri.org/IServicePayPad/GetDataControlScreen" message="tns:IServicePayPad_GetDataControlScreen_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServicePayPad/GetDataControlScreenResponse" message="tns:IServicePayPad_GetDataControlScreen_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="InsertarTransaccionCotrafa">
      <wsdl:input wsaw:Action="http://tempuri.org/IServicePayPad/InsertarTransaccionCotrafa" message="tns:IServicePayPad_InsertarTransaccionCotrafa_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServicePayPad/InsertarTransaccionCotrafaResponse" message="tns:IServicePayPad_InsertarTransaccionCotrafa_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="InsertDataProcinal">
      <wsdl:input wsaw:Action="http://tempuri.org/IServicePayPad/InsertDataProcinal" message="tns:IServicePayPad_InsertDataProcinal_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServicePayPad/InsertDataProcinalResponse" message="tns:IServicePayPad_InsertDataProcinal_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetDataReceiptProcinal">
      <wsdl:input wsaw:Action="http://tempuri.org/IServicePayPad/GetDataReceiptProcinal" message="tns:IServicePayPad_GetDataReceiptProcinal_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServicePayPad/GetDataReceiptProcinalResponse" message="tns:IServicePayPad_GetDataReceiptProcinal_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetBaul">
      <wsdl:input wsaw:Action="http://tempuri.org/IServicePayPad/GetBaul" message="tns:IServicePayPad_GetBaul_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServicePayPad/GetBaulResponse" message="tns:IServicePayPad_GetBaul_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SendMailDanone">
      <wsdl:input wsaw:Action="http://tempuri.org/IServicePayPad/SendMailDanone" message="tns:IServicePayPad_SendMailDanone_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServicePayPad/SendMailDanoneResponse" message="tns:IServicePayPad_SendMailDanone_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="InsertarTransaccionPaises">
      <wsdl:input wsaw:Action="http://tempuri.org/IServicePayPad/InsertarTransaccionPaises" message="tns:IServicePayPad_InsertarTransaccionPaises_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServicePayPad/InsertarTransaccionPaisesResponse" message="tns:IServicePayPad_InsertarTransaccionPaises_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ActualizarTransaccionPaises">
      <wsdl:input wsaw:Action="http://tempuri.org/IServicePayPad/ActualizarTransaccionPaises" message="tns:IServicePayPad_ActualizarTransaccionPaises_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServicePayPad/ActualizarTransaccionPaisesResponse" message="tns:IServicePayPad_ActualizarTransaccionPaises_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="FinalizarTransaccionPaises">
      <wsdl:input wsaw:Action="http://tempuri.org/IServicePayPad/FinalizarTransaccionPaises" message="tns:IServicePayPad_FinalizarTransaccionPaises_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServicePayPad/FinalizarTransaccionPaisesResponse" message="tns:IServicePayPad_FinalizarTransaccionPaises_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetTop5TransactionsByClient">
      <wsdl:input wsaw:Action="http://tempuri.org/IServicePayPad/GetTop5TransactionsByClient" message="tns:IServicePayPad_GetTop5TransactionsByClient_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServicePayPad/GetTop5TransactionsByClientResponse" message="tns:IServicePayPad_GetTop5TransactionsByClient_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateTransactionByID">
      <wsdl:input wsaw:Action="http://tempuri.org/IServicePayPad/UpdateTransactionByID" message="tns:IServicePayPad_UpdateTransactionByID_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServicePayPad/UpdateTransactionByIDResponse" message="tns:IServicePayPad_UpdateTransactionByID_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="InsertarPagador">
      <wsdl:input wsaw:Action="http://tempuri.org/IServicePayPad/InsertarPagador" message="tns:IServicePayPad_InsertarPagador_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServicePayPad/InsertarPagadorResponse" message="tns:IServicePayPad_InsertarPagador_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IServicePayPad" type="tns:IServicePayPad">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="InsertarTransaccion">
      <soap:operation soapAction="http://tempuri.org/IServicePayPad/InsertarTransaccion" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InsertarTransaccionData">
      <soap:operation soapAction="http://tempuri.org/IServicePayPad/InsertarTransaccionData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InsertarAuditoria">
      <soap:operation soapAction="http://tempuri.org/IServicePayPad/InsertarAuditoria" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ConsultaEstadoFactura">
      <soap:operation soapAction="http://tempuri.org/IServicePayPad/ConsultaEstadoFactura" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ActualizarEstadoTransaccion">
      <soap:operation soapAction="http://tempuri.org/IServicePayPad/ActualizarEstadoTransaccion" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InsertException">
      <soap:operation soapAction="http://tempuri.org/IServicePayPad/InsertException" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InsertarDetalleTransaccion">
      <soap:operation soapAction="http://tempuri.org/IServicePayPad/InsertarDetalleTransaccion" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InsertarAlerta">
      <soap:operation soapAction="http://tempuri.org/IServicePayPad/InsertarAlerta" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EnviarCorreo">
      <soap:operation soapAction="http://tempuri.org/IServicePayPad/EnviarCorreo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EnviarCorreoV2">
      <soap:operation soapAction="http://tempuri.org/IServicePayPad/EnviarCorreoV2" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InsertarControlBillete">
      <soap:operation soapAction="http://tempuri.org/IServicePayPad/InsertarControlBillete" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InsertarControlMonedas">
      <soap:operation soapAction="http://tempuri.org/IServicePayPad/InsertarControlMonedas" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InsertarControlDispenser">
      <soap:operation soapAction="http://tempuri.org/IServicePayPad/InsertarControlDispenser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="OperationControlDispenser">
      <soap:operation soapAction="http://tempuri.org/IServicePayPad/OperationControlDispenser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ActualizacionArqueo">
      <soap:operation soapAction="http://tempuri.org/IServicePayPad/ActualizacionArqueo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ConteoBaul">
      <soap:operation soapAction="http://tempuri.org/IServicePayPad/ConteoBaul" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InsertarControlAlarma">
      <soap:operation soapAction="http://tempuri.org/IServicePayPad/InsertarControlAlarma" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ConsultarTransaccionesUsuario">
      <soap:operation soapAction="http://tempuri.org/IServicePayPad/ConsultarTransaccionesUsuario" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ConsultarEstadoReferencia">
      <soap:operation soapAction="http://tempuri.org/IServicePayPad/ConsultarEstadoReferencia" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InsertarTransaccionDispenser">
      <soap:operation soapAction="http://tempuri.org/IServicePayPad/InsertarTransaccionDispenser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ActualizarTransaccionDispenser">
      <soap:operation soapAction="http://tempuri.org/IServicePayPad/ActualizarTransaccionDispenser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="BilletesBaul">
      <soap:operation soapAction="http://tempuri.org/IServicePayPad/BilletesBaul" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ReiniciarBaul">
      <soap:operation soapAction="http://tempuri.org/IServicePayPad/ReiniciarBaul" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DatosTransaccionCM">
      <soap:operation soapAction="http://tempuri.org/IServicePayPad/DatosTransaccionCM" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDataControlScreen">
      <soap:operation soapAction="http://tempuri.org/IServicePayPad/GetDataControlScreen" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InsertarTransaccionCotrafa">
      <soap:operation soapAction="http://tempuri.org/IServicePayPad/InsertarTransaccionCotrafa" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InsertDataProcinal">
      <soap:operation soapAction="http://tempuri.org/IServicePayPad/InsertDataProcinal" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDataReceiptProcinal">
      <soap:operation soapAction="http://tempuri.org/IServicePayPad/GetDataReceiptProcinal" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetBaul">
      <soap:operation soapAction="http://tempuri.org/IServicePayPad/GetBaul" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SendMailDanone">
      <soap:operation soapAction="http://tempuri.org/IServicePayPad/SendMailDanone" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InsertarTransaccionPaises">
      <soap:operation soapAction="http://tempuri.org/IServicePayPad/InsertarTransaccionPaises" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ActualizarTransaccionPaises">
      <soap:operation soapAction="http://tempuri.org/IServicePayPad/ActualizarTransaccionPaises" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FinalizarTransaccionPaises">
      <soap:operation soapAction="http://tempuri.org/IServicePayPad/FinalizarTransaccionPaises" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTop5TransactionsByClient">
      <soap:operation soapAction="http://tempuri.org/IServicePayPad/GetTop5TransactionsByClient" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateTransactionByID">
      <soap:operation soapAction="http://tempuri.org/IServicePayPad/UpdateTransactionByID" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InsertarPagador">
      <soap:operation soapAction="http://tempuri.org/IServicePayPad/InsertarPagador" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ServicePayPad">
    <wsdl:port name="BasicHttpBinding_IServicePayPad" binding="tns:BasicHttpBinding_IServicePayPad">
      <soap:address location="http://200.122.221.209/ServicePayPad.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>