WPProcinal/Connected Services/WCFPayPad/ServicePayPad1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/WCFPayPad.Clases" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/WCFPayPad.Clases" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://200.122.221.209/ServicePayPad.svc?xsd=xsd5" namespace="http://schemas.datacontract.org/2004/07/WCFPayPad.EntityModels" />
  <xs:complexType name="ArrayOfClSMinDenomination">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ClSMinDenomination" nillable="true" type="tns:ClSMinDenomination" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfClSMinDenomination" nillable="true" type="tns:ArrayOfClSMinDenomination" />
  <xs:complexType name="ClSMinDenomination">
    <xs:sequence>
      <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Quantity" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ClSMinDenomination" nillable="true" type="tns:ClSMinDenomination" />
  <xs:complexType name="CLSDataControlScreen">
    <xs:sequence>
      <xs:element minOccurs="0" name="ClSMinDenominations" nillable="true" type="tns:ArrayOfClSMinDenomination" />
      <xs:element minOccurs="0" name="Email" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MaxBaul" type="xs:int" />
      <xs:element minOccurs="0" name="Phone" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CLSDataControlScreen" nillable="true" type="tns:CLSDataControlScreen" />
  <xs:complexType name="InfoProcinal">
    <xs:sequence>
      <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/WCFPayPad.EntityModels" minOccurs="0" name="DipMap" nillable="true" type="q1:TblDipMap" />
      <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/WCFPayPad.EntityModels" minOccurs="0" name="Seats" nillable="true" type="q2:ArrayOfTblSeat" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="InfoProcinal" nillable="true" type="tns:InfoProcinal" />
  <xs:complexType name="ArrayOfQuantityDenom">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="QuantityDenom" nillable="true" type="tns:QuantityDenom" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfQuantityDenom" nillable="true" type="tns:ArrayOfQuantityDenom" />
  <xs:complexType name="QuantityDenom">
    <xs:sequence>
      <xs:element minOccurs="0" name="Denomination" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Quantity" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="QuantityDenom" nillable="true" type="tns:QuantityDenom" />
  <xs:complexType name="DanoneData">
    <xs:sequence>
      <xs:element minOccurs="0" name="Amount" type="xs:decimal" />
      <xs:element minOccurs="0" name="BillAmount" type="xs:decimal" />
      <xs:element minOccurs="0" name="Body" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CoinAmount" type="xs:decimal" />
      <xs:element minOccurs="0" name="DenominationValue" nillable="true" type="tns:ArrayOfDanoneDenomination" />
      <xs:element minOccurs="0" name="IdPayPad" type="xs:int" />
      <xs:element minOccurs="0" name="MailFrom" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="OperatorCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="OperatorRoute" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Subject" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DanoneData" nillable="true" type="tns:DanoneData" />
  <xs:complexType name="ArrayOfDanoneDenomination">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="DanoneDenomination" nillable="true" type="tns:DanoneDenomination" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfDanoneDenomination" nillable="true" type="tns:ArrayOfDanoneDenomination" />
  <xs:complexType name="DanoneDenomination">
    <xs:sequence>
      <xs:element minOccurs="0" name="Amount" type="xs:decimal" />
      <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Quantity" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DanoneDenomination" nillable="true" type="tns:DanoneDenomination" />
  <xs:complexType name="ArrayOfTransactionByClientData">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="TransactionByClientData" nillable="true" type="tns:TransactionByClientData" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfTransactionByClientData" nillable="true" type="tns:ArrayOfTransactionByClientData" />
  <xs:complexType name="TransactionByClientData">
    <xs:sequence>
      <xs:element minOccurs="0" name="Estado" type="xs:int" />
      <xs:element minOccurs="0" name="Fecha" type="xs:dateTime" />
      <xs:element minOccurs="0" name="IDtransaccion" type="xs:int" />
      <xs:element minOccurs="0" name="Referencia" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Valor" type="xs:decimal" />
      <xs:element minOccurs="0" name="ValorDevuelto" type="xs:decimal" />
      <xs:element minOccurs="0" name="ValorIngresado" type="xs:decimal" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="TransactionByClientData" nillable="true" type="tns:TransactionByClientData" />
</xs:schema>