WPProcinal/Connected Services/WCFPayPad/ServicePayPad65.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/WCFPayPad.Clases" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/WCFPayPad.Clases" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://200.122.221.193:7997/ServicePayPad.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/WCFPayPad.EntityModels" />
  <xs:complexType name="CLSDataControlScreen">
    <xs:sequence>
      <xs:element minOccurs="0" name="ClSMinDenominations" nillable="true" type="tns:ArrayOfClSMinDenomination" />
      <xs:element minOccurs="0" name="Email" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MaxBaul" type="xs:int" />
      <xs:element minOccurs="0" name="Phone" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CLSDataControlScreen" nillable="true" type="tns:CLSDataControlScreen" />
  <xs:complexType name="ArrayOfClSMinDenomination">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ClSMinDenomination" nillable="true" type="tns:ClSMinDenomination" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfClSMinDenomination" nillable="true" type="tns:ArrayOfClSMinDenomination" />
  <xs:complexType name="ClSMinDenomination">
    <xs:sequence>
      <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Quantity" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ClSMinDenomination" nillable="true" type="tns:ClSMinDenomination" />
  <xs:complexType name="InfoProcinal">
    <xs:sequence>
      <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/WCFPayPad.EntityModels" minOccurs="0" name="DipMap" nillable="true" type="q1:TblDipMap" />
      <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/WCFPayPad.EntityModels" minOccurs="0" name="Seats" nillable="true" type="q2:ArrayOfTblSeat" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="InfoProcinal" nillable="true" type="tns:InfoProcinal" />
</xs:schema>