WPProcinal/Connected Services/WCFPayPad/ServicePayPad.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/WCFPayPad.EntityModels" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/WCFPayPad.EntityModels" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="sp_DatosTransaccionCM_Result">
    <xs:sequence>
      <xs:element minOccurs="0" name="CedulaPagador" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Estado" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FechaTransaccion" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="IDCompra" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IDCorresponsal" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="IDTransaccion" type="xs:int" />
      <xs:element minOccurs="0" name="Valor" nillable="true" type="xs:decimal" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="sp_DatosTransaccionCM_Result" nillable="true" type="tns:sp_DatosTransaccionCM_Result" />
  <xs:complexType name="TblDipMap">
    <xs:sequence>
      <xs:element minOccurs="0" name="Active" nillable="true" type="xs:boolean" />
      <xs:element minOccurs="0" name="Category" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CinemaId" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="Date" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DateFormat" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Day" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Duration" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Gener" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Group" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="Hour" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="HourFunction" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="HourMillitar" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="IsCard" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Language" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Letter" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Login" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MovieName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PointOfSale" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="RoomId" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="RoomName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Secuence" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="TblDipMapId" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="TblDipMap" nillable="true" type="tns:TblDipMap" />
  <xs:complexType name="ArrayOfTblSeat">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="TblSeat" nillable="true" type="tns:TblSeat" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfTblSeat" nillable="true" type="tns:ArrayOfTblSeat" />
  <xs:complexType name="TblSeat">
    <xs:sequence>
      <xs:element minOccurs="0" name="CodTarifa" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IsPay" nillable="true" type="xs:boolean" />
      <xs:element minOccurs="0" name="IsReserved" nillable="true" type="xs:boolean" />
      <xs:element minOccurs="0" name="Letter" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Number" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Price" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="Secuence" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TblDipMapId" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="TblSeatId" type="xs:int" />
      <xs:element minOccurs="0" name="TransactionId" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="Type" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="TblSeat" nillable="true" type="tns:TblSeat" />
  <xs:complexType name="Tbl_TransaccionPaices">
    <xs:sequence>
      <xs:element minOccurs="0" name="Devolucion" nillable="true" type="xs:boolean" />
      <xs:element minOccurs="0" name="FechaFinal" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="FechaInicio" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="IDCorresponsal" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="IDEstado" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="IDTramite" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="IDTransaccion" type="xs:int" />
      <xs:element minOccurs="0" name="PersonaID" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="Referencia" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="RuteID" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="Total" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="TotalDevuelto" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="TotalIngresado" nillable="true" type="xs:decimal" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Tbl_TransaccionPaices" nillable="true" type="tns:Tbl_TransaccionPaices" />
  <xs:complexType name="PagadorGeneral">
    <xs:sequence>
      <xs:element minOccurs="0" name="Cedula" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Correo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ID" type="xs:int" />
      <xs:element minOccurs="0" name="Nombre" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Tbl_Transaccion" nillable="true" type="tns:ArrayOfTbl_Transaccion" />
      <xs:element minOccurs="0" name="Telefono" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PagadorGeneral" nillable="true" type="tns:PagadorGeneral" />
  <xs:complexType name="ArrayOfTbl_Transaccion">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Tbl_Transaccion" nillable="true" type="tns:Tbl_Transaccion" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfTbl_Transaccion" nillable="true" type="tns:ArrayOfTbl_Transaccion" />
  <xs:complexType name="Tbl_Transaccion">
    <xs:sequence>
      <xs:element minOccurs="0" name="CedulaPagador" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Devolucion" nillable="true" type="xs:boolean" />
      <xs:element minOccurs="0" name="FechaFinal" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="FechaInicio" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="IDCorresponsal" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="IDEstado" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="IDTipoTransaccion" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="IDTramite" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="IDTransaccion" type="xs:int" />
      <xs:element minOccurs="0" name="PagadorGeneral" nillable="true" type="tns:PagadorGeneral" />
      <xs:element minOccurs="0" name="PersonaID" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="Referencia" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Total" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="TotalDevuelto" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="TotalIngresado" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="idTransaccionCliente" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="tbl_DatosCotrafa" nillable="true" type="tns:ArrayOftbl_DatosCotrafa" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Tbl_Transaccion" nillable="true" type="tns:Tbl_Transaccion" />
  <xs:complexType name="ArrayOftbl_DatosCotrafa">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="tbl_DatosCotrafa" nillable="true" type="tns:tbl_DatosCotrafa" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOftbl_DatosCotrafa" nillable="true" type="tns:ArrayOftbl_DatosCotrafa" />
  <xs:complexType name="tbl_DatosCotrafa">
    <xs:sequence>
      <xs:element minOccurs="0" name="Cedula" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Contrato" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FechaCuota" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IDCotrafa" type="xs:int" />
      <xs:element minOccurs="0" name="IDTransaccion" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="Tbl_Transaccion" nillable="true" type="tns:Tbl_Transaccion" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="tbl_DatosCotrafa" nillable="true" type="tns:tbl_DatosCotrafa" />
</xs:schema>