WPProcinal/Connected Services/WCFReembolso/service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="comint">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="teatro" type="s:double" />
            <s:element minOccurs="1" maxOccurs="1" name="punto" type="s:double" />
            <s:element minOccurs="0" maxOccurs="1" name="fecha_reembolso" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="secuencia" type="s:double" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="comintResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="comintResult">
              <s:complexType mixed="true">
                <s:sequence>
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="comintSoapIn">
    <wsdl:part name="parameters" element="tns:comint" />
  </wsdl:message>
  <wsdl:message name="comintSoapOut">
    <wsdl:part name="parameters" element="tns:comintResponse" />
  </wsdl:message>
  <wsdl:message name="comintHttpGetIn">
    <wsdl:part name="teatro" type="s:string" />
    <wsdl:part name="punto" type="s:string" />
    <wsdl:part name="fecha_reembolso" type="s:string" />
    <wsdl:part name="secuencia" type="s:string" />
  </wsdl:message>
  <wsdl:message name="comintHttpGetOut">
    <wsdl:part name="Body" />
  </wsdl:message>
  <wsdl:message name="comintHttpPostIn">
    <wsdl:part name="teatro" type="s:string" />
    <wsdl:part name="punto" type="s:string" />
    <wsdl:part name="fecha_reembolso" type="s:string" />
    <wsdl:part name="secuencia" type="s:string" />
  </wsdl:message>
  <wsdl:message name="comintHttpPostOut">
    <wsdl:part name="Body" />
  </wsdl:message>
  <wsdl:portType name="reembolsoSoap">
    <wsdl:operation name="comint">
      <wsdl:input message="tns:comintSoapIn" />
      <wsdl:output message="tns:comintSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="reembolsoHttpGet">
    <wsdl:operation name="comint">
      <wsdl:input message="tns:comintHttpGetIn" />
      <wsdl:output message="tns:comintHttpGetOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="reembolsoHttpPost">
    <wsdl:operation name="comint">
      <wsdl:input message="tns:comintHttpPostIn" />
      <wsdl:output message="tns:comintHttpPostOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="reembolsoSoap" type="tns:reembolsoSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="comint">
      <soap:operation soapAction="http://tempuri.org/comint" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="reembolsoSoap12" type="tns:reembolsoSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="comint">
      <soap12:operation soapAction="http://tempuri.org/comint" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="reembolsoHttpGet" type="tns:reembolsoHttpGet">
    <http:binding verb="GET" />
    <wsdl:operation name="comint">
      <http:operation location="/comint" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:content part="Body" type="text/xml" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="reembolsoHttpPost" type="tns:reembolsoHttpPost">
    <http:binding verb="POST" />
    <wsdl:operation name="comint">
      <http:operation location="/comint" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:content part="Body" type="text/xml" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="reembolso">
    <wsdl:port name="reembolsoSoap" binding="tns:reembolsoSoap">
      <soap:address location="http://190.248.130.234/scoreservices/pcrret/service.asmx" />
    </wsdl:port>
    <wsdl:port name="reembolsoSoap12" binding="tns:reembolsoSoap12">
      <soap12:address location="http://190.248.130.234/scoreservices/pcrret/service.asmx" />
    </wsdl:port>
    <wsdl:port name="reembolsoHttpGet" binding="tns:reembolsoHttpGet">
      <http:address location="http://190.248.130.234/scoreservices/pcrret/service.asmx" />
    </wsdl:port>
    <wsdl:port name="reembolsoHttpPost" binding="tns:reembolsoHttpPost">
      <http:address location="http://190.248.130.234/scoreservices/pcrret/service.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>