WPProcinal/Connected Services/WCFTarifas/service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="commit">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="tea_ext_l" type="s:double" />
            <s:element minOccurs="0" maxOccurs="1" name="fec_ext_l" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="pel_ext_l" type="s:double" />
            <s:element minOccurs="1" maxOccurs="1" name="sal_ext_l" type="s:double" />
            <s:element minOccurs="1" maxOccurs="1" name="ini_ext_l" type="s:double" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="commitResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="commitResult">
              <s:complexType mixed="true">
                <s:sequence>
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="commitSoapIn">
    <wsdl:part name="parameters" element="tns:commit" />
  </wsdl:message>
  <wsdl:message name="commitSoapOut">
    <wsdl:part name="parameters" element="tns:commitResponse" />
  </wsdl:message>
  <wsdl:message name="commitHttpGetIn">
    <wsdl:part name="tea_ext_l" type="s:string" />
    <wsdl:part name="fec_ext_l" type="s:string" />
    <wsdl:part name="pel_ext_l" type="s:string" />
    <wsdl:part name="sal_ext_l" type="s:string" />
    <wsdl:part name="ini_ext_l" type="s:string" />
  </wsdl:message>
  <wsdl:message name="commitHttpGetOut">
    <wsdl:part name="Body" />
  </wsdl:message>
  <wsdl:message name="commitHttpPostIn">
    <wsdl:part name="tea_ext_l" type="s:string" />
    <wsdl:part name="fec_ext_l" type="s:string" />
    <wsdl:part name="pel_ext_l" type="s:string" />
    <wsdl:part name="sal_ext_l" type="s:string" />
    <wsdl:part name="ini_ext_l" type="s:string" />
  </wsdl:message>
  <wsdl:message name="commitHttpPostOut">
    <wsdl:part name="Body" />
  </wsdl:message>
  <wsdl:portType name="tarifasSoap">
    <wsdl:operation name="commit">
      <wsdl:input message="tns:commitSoapIn" />
      <wsdl:output message="tns:commitSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="tarifasHttpGet">
    <wsdl:operation name="commit">
      <wsdl:input message="tns:commitHttpGetIn" />
      <wsdl:output message="tns:commitHttpGetOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="tarifasHttpPost">
    <wsdl:operation name="commit">
      <wsdl:input message="tns:commitHttpPostIn" />
      <wsdl:output message="tns:commitHttpPostOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="tarifasSoap" type="tns:tarifasSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="commit">
      <soap:operation soapAction="http://tempuri.org/commit" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="tarifasSoap12" type="tns:tarifasSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="commit">
      <soap12:operation soapAction="http://tempuri.org/commit" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="tarifasHttpGet" type="tns:tarifasHttpGet">
    <http:binding verb="GET" />
    <wsdl:operation name="commit">
      <http:operation location="/commit" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:content part="Body" type="text/xml" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="tarifasHttpPost" type="tns:tarifasHttpPost">
    <http:binding verb="POST" />
    <wsdl:operation name="commit">
      <http:operation location="/commit" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:content part="Body" type="text/xml" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="tarifas">
    <wsdl:port name="tarifasSoap" binding="tns:tarifasSoap">
      <soap:address location="http://190.248.130.234/scoreservices/pcrpla/service.asmx" />
    </wsdl:port>
    <wsdl:port name="tarifasSoap12" binding="tns:tarifasSoap12">
      <soap12:address location="http://190.248.130.234/scoreservices/pcrpla/service.asmx" />
    </wsdl:port>
    <wsdl:port name="tarifasHttpGet" binding="tns:tarifasHttpGet">
      <http:address location="http://190.248.130.234/scoreservices/pcrpla/service.asmx" />
    </wsdl:port>
    <wsdl:port name="tarifasHttpPost" binding="tns:tarifasHttpPost">
      <http:address location="http://190.248.130.234/scoreservices/pcrpla/service.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>