WPProcinal/Connected Services/WCFDesAssing/service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="dessil">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="tea_ext_l" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="sal_ext_l" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="fex_ext_l" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="fun_ext_l" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="fil_ext_l" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="col_ext_l" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="gru_ext_l" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="pel_ext_l" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="log_ext_l" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="dessilResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="dessilResult">
              <s:complexType mixed="true">
                <s:sequence>
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="dessilSoapIn">
    <wsdl:part name="parameters" element="tns:dessil" />
  </wsdl:message>
  <wsdl:message name="dessilSoapOut">
    <wsdl:part name="parameters" element="tns:dessilResponse" />
  </wsdl:message>
  <wsdl:message name="dessilHttpGetIn">
    <wsdl:part name="tea_ext_l" type="s:string" />
    <wsdl:part name="sal_ext_l" type="s:string" />
    <wsdl:part name="fex_ext_l" type="s:string" />
    <wsdl:part name="fun_ext_l" type="s:string" />
    <wsdl:part name="fil_ext_l" type="s:string" />
    <wsdl:part name="col_ext_l" type="s:string" />
    <wsdl:part name="gru_ext_l" type="s:string" />
    <wsdl:part name="pel_ext_l" type="s:string" />
    <wsdl:part name="log_ext_l" type="s:string" />
  </wsdl:message>
  <wsdl:message name="dessilHttpGetOut">
    <wsdl:part name="Body" />
  </wsdl:message>
  <wsdl:message name="dessilHttpPostIn">
    <wsdl:part name="tea_ext_l" type="s:string" />
    <wsdl:part name="sal_ext_l" type="s:string" />
    <wsdl:part name="fex_ext_l" type="s:string" />
    <wsdl:part name="fun_ext_l" type="s:string" />
    <wsdl:part name="fil_ext_l" type="s:string" />
    <wsdl:part name="col_ext_l" type="s:string" />
    <wsdl:part name="gru_ext_l" type="s:string" />
    <wsdl:part name="pel_ext_l" type="s:string" />
    <wsdl:part name="log_ext_l" type="s:string" />
  </wsdl:message>
  <wsdl:message name="dessilHttpPostOut">
    <wsdl:part name="Body" />
  </wsdl:message>
  <wsdl:portType name="ServiceSoap">
    <wsdl:operation name="dessil">
      <wsdl:input message="tns:dessilSoapIn" />
      <wsdl:output message="tns:dessilSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="ServiceHttpGet">
    <wsdl:operation name="dessil">
      <wsdl:input message="tns:dessilHttpGetIn" />
      <wsdl:output message="tns:dessilHttpGetOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="ServiceHttpPost">
    <wsdl:operation name="dessil">
      <wsdl:input message="tns:dessilHttpPostIn" />
      <wsdl:output message="tns:dessilHttpPostOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ServiceSoap" type="tns:ServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="dessil">
      <soap:operation soapAction="http://tempuri.org/dessil" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="ServiceSoap12" type="tns:ServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="dessil">
      <soap12:operation soapAction="http://tempuri.org/dessil" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="ServiceHttpGet" type="tns:ServiceHttpGet">
    <http:binding verb="GET" />
    <wsdl:operation name="dessil">
      <http:operation location="/dessil" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:content part="Body" type="text/xml" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="ServiceHttpPost" type="tns:ServiceHttpPost">
    <http:binding verb="POST" />
    <wsdl:operation name="dessil">
      <http:operation location="/dessil" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:content part="Body" type="text/xml" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service">
    <wsdl:port name="ServiceSoap" binding="tns:ServiceSoap">
      <soap:address location="http://190.248.130.234/scoreservices/pcrsil1/service.asmx" />
    </wsdl:port>
    <wsdl:port name="ServiceSoap12" binding="tns:ServiceSoap12">
      <soap12:address location="http://190.248.130.234/scoreservices/pcrsil1/service.asmx" />
    </wsdl:port>
    <wsdl:port name="ServiceHttpGet" binding="tns:ServiceHttpGet">
      <http:address location="http://190.248.130.234/scoreservices/pcrsil1/service.asmx" />
    </wsdl:port>
    <wsdl:port name="ServiceHttpPost" binding="tns:ServiceHttpPost">
      <http:address location="http://190.248.130.234/scoreservices/pcrsil1/service.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>